<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bancosantander.puestos">

    <application
        android:name=".application.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"> <!-- pandroid:theme="@style/AppTheme" -->
        <activity android:name=".ui.activities.login.LoginActivity" android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
            android:name=".ui.dialogs.PuestoDialog"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity android:name=".ui.activities.main.MainActivity" android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activities.ownWorkstation.OwnWorkstationActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.activities.workstations.WorkstationsActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.activities.configuration.ConfigurationActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.activities.tutorial.TutorialActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.activities.searchUser.SearchUserActivity" android:screenOrientation="portrait"/>
    </application>

</manifest>